body {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 768px;
}

.header {
  height: 70px;
  background-color: #fff;
  color: #525c65;
  a.post {
    display: inline-block;
    float: right;
    width: 200px;
    height: 54px;
    line-height: 54px;
    outline: none;
    font-size: 25px;
  }
}

.btn {
  background-color: #fff;
  color: #4a4a4a;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background-color: #eee;
  color: #D65F4C;
}


form {
  font-size: 24px;
  font-family: "游ゴシック", "YuGothic";
  textarea {
    padding: 10px;
    margin: 5 0 15px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    font-size: 21px;
    width: 100%;
  }
  input {
    width: 100%;
    background-color: #57C3E9;
    border-radius: 10px;
    color: #fff;
    border: 0;
    font-size: 18px;
  }
}

.question {
  a {
    color: #4a4a4a;
    float: right;
  }
}
