<!DOCTYPE html>
<html>
<head>
  <title>FAQ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <header class="header">
   <a class="post btn" href="/qas/new">
   QA追加</a>
 </header>
<%= yield %>

</body>
</html>
